//Header
.headerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
  border-bottom: 1px solid #e6e6e6;
  img {
    max-width: 70px;
    display: block;
    margin: 0 auto;
  }
  @media only screen and (min-width: 992px) {
    img {
      max-width: 100px;
    }
  }
}

.scrolled {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  background: white;
  border-bottom: 1px solid #e6e6e6;
  @media only screen and (max-width: 991px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    img {
      max-width: 50px;
      display: block;
      margin: 0 auto;
    }
  }
  @media only screen and (min-width: 992px) {
    .headerMenu {
      border: none;
    }
    img {
      max-width: 70px;
    }
  }
}

.headerMenu {
  display: flex;
  width: 1030px;
  height: 57px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  margin: 16px auto 0 auto;

  a {
    font-size: 20px;
    padding: 10px 24px;
    margin: 15px;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    &:hover {
      border-bottom: solid 3px black;
      color: #eccc80;
    }
  }

  @media screen and (max-width: 992px) {
    display: flex;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
  }
}

.headerSearchIcon {
  @media screen and (min-width: 992px) {
    display: none;
  }
}
.headerLogo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  button {
    border: none;
  }

  @media only screen and (min-width: 992px) {
    display: flex;
    justify-content: center;
  }
}

//Footer
.rowFooter {
  background: #e6e6e6;
  padding: 1em;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footerAddress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2.5em;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.footerMst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2.5em;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.footerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2.5em;
  Form {
    width: 100%;
  }
  input {
    border-radius: 0;
  }
  Button {
    margin-top: 1em;
    width: 100%;
    background: #efefef;
    border: none;
    border-radius: 0;
  }
}

.footerNameCompany {
  padding: 4em;
  display: block;
  text-align: center;
  line-height: 2.5em;
}
.footerCopyright {
  background-color: black;
  padding: 2em;
}
