.text {
  display: block;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  letter-spacing: 1.5px;
}

.title {
  display: block;
  font-family: Philosopher, sans-serif;
  font-size: 2rem;
  margin: 0;
}
