.text {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  letter-spacing: 1.5px;
}

.title {
  display: block;
  font-family: 'Philosopher', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #444;
  margin: 0;
}
.smallBody {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  letter-spacing: 1.5px;
}
