.slickSlider {
  margin: 30px auto 50px;
  padding: 0.5rem;
  width: auto;
  display: flex;
  align-items: center;
  @media screen and (min-width: 992px) {
    p {
      font-size: 22px;
    }
    .cardItem {
      height: 300px;
    }
  }
  @media screen and (max-width: 768px) {
    p {
      font-size: 18px;
    }
    .cardItem {
      height: 220px;
    }
  }
}
.cardItem {
  width: calc(100% - 25px);
  padding: 8px;
  position: relative;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  text-align: center;
  align-items: center;
  &:hover {
    background: #eccc80;
    cursor: pointer;
    transform: translateY(-6px);
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.cardPremium {
  padding: 8px;
  position: relative;
  margin: 10px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  text-align: center;
  align-items: center;

  &:hover {
    color: #eccc80;
    cursor: pointer;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
}
.borderImg {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  background-color: #f7f7f7;
  &:hover {
    background: #eccc80;
    cursor: pointer;
  }
}
