//banner
.imageBanner {
  display: none;
  @media screen and (min-width: 992px) {
    display: block;
  }
}
.imageBannerMd {
  display: block;
  @media screen and (min-width: 992px) {
    display: none;
  }
}
.image {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  max-width: 420px;
  min-height: 540px;
  margin: 0 auto;
  @media screen and (min-width: 992px) {
    max-width: unset;
  }
  img {
    height: auto !important;
  }
}
