//
.customReview {
  padding-bottom: 2em;
}
.textReview {
  margin: 3rem 0 0 0;

  p {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0px 0px 3rem;
    padding: 1rem 0;
    line-height: 1.8;
    margin-bottom: 14px;
  }
  @media only screen and (max-width: 1200px) {
    p {
      font-size: 1.2rem;
      font-weight: unset;
    }
  }

  strong {
    font-family: Philosopher;
    color: #333;
    font-size: 3.4rem;
    background-color: #f2f2f2;
    font-weight: 700;
    line-height: 48px;
    padding: 1rem 2rem;
    margin: 0px 14px 0px 0px;
    position: relative;
    @media only screen and (max-width: 1200px) {
      font-size: 1.5rem;
      margin: 0 1rem;
    }
    @media only screen and (max-width: 768px) {
      font-size: 1.2rem;
      margin: 0 1rem;
    }
    @media only screen and (max-width: 576px) {
      font-size: 1.7rem;
      padding: 0.5rem 1rem;
      margin: 0 5px;
    }
  }
}

//
.rowService {
  padding: 40px 0px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.rowServiceMobile {
  padding: 40px 0px;
  display: flex;
  text-align: center;
  align-items: stretch;
  justify-content: center;
  @media screen and (min-width: 991px) {
    display: none;
  }
}

.colImage {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.colServices {
  margin-bottom: 0.5rem;
}
.cardServices {
  // padding: 1rem 0.5rem;
  margin: 0.2rem;
  position: relative;
  text-align: center;
  align-items: center;
  height: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
  }
}
//card slider
.slickSlider {
  margin-bottom: 3em;
  margin: 1rem;
  padding: 0.5rem;
  width: auto;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.cardSlider {
  padding: 8px;
  position: relative;
  margin: 10px;
  z-index: 1;
  text-align: center;
  align-items: center;
}

.imgNone {
  margin: 2em;
}
.customSlider {
  margin: 1rem 0 3rem 0;
}
.cardCustomer {
  // padding: 1rem 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  align-items: center;
  img {
    width: 100%;
    object-fit: cover;
  }
  &:hover {
    cursor: pointer;
  }
}

.textSlider {
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
  width: 98%;
  height: auto;
  margin: 1rem 0 0 0;
  padding: 1rem;
  @media screen and (max-width: 992px) {
    box-shadow: none;
  }

  @media screen and (max-width: 576px) {
    p {
      font-size: 0.8rem;
      padding: auto;
    }
  }
}
